<% layout("/layouts/boilerplate.ejs") %>

    <body>


        <div class="show-route-container">
            <div class="show-route-card">
                <img class="show-route-image" src="<%= idlisting.image %>" alt="Listing image">

                <h3 class="show-route-heading">Listing Details</h3>
                <ul class="show-route-info">
                    <li><strong>Title:</strong>
                        <%= idlisting.title %>
                    </li>
                    <li><strong>Description:</strong>
                        <%= idlisting.description %>
                    </li>
                    <li><strong>Price:</strong> ₹ <%= idlisting.price.toLocaleString("en-IN") %>
                    </li>
                    <li><strong>Location:</strong>
                        <%= idlisting.location %>
                    </li>
                    <li><strong>Country:</strong>
                        <%= idlisting.country %>
                    </li>
                </ul>

                <div class="show-route-buttons">
                    <div class="show-route-actions">
                        <form method="get" action="/listings/<%= idlisting._id %>/edit">
                            <button class="show-route-btn show-route-edit-btn">Edit</button>
                        </form>
                        <form method="post" action="/listings/<%= idlisting._id %>?_method=DELETE">
                            <button class="show-route-btn show-route-delete-btn">Delete</button>
                        </form>
                    </div>
                    <div class="show-route-actions">
                        <a href="/listings" class="show-route-btn show-route-viewall-btn">View All Listings</a>
                    </div>
                </div>
            </div>
        </div>

    </body>